@font-face {
	font-family: "Raleway";
	src: url("../fonts/raleway-regular/raleway-regular.eot");
	src: url("../fonts/raleway-regular/raleway-regular.eot?#iefix") format("embedded-opentype"),
		url("../fonts/raleway-regular/raleway-regular.otf") format("opentype"),
		url("../fonts/raleway-regular/raleway-regular.svg") format("svg"),
		url("../fonts/raleway-regular/raleway-regular.ttf") format("truetype"),
		url("../fonts/raleway-regular/raleway-regular.woff") format("woff"),
		url("../fonts/raleway-regular/raleway-regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Raleway";
	src: url("../fonts/raleway-medium/raleway-medium.eot");
	src: url("../fonts/raleway-medium/raleway-medium.eot?#iefix") format("embedded-opentype"),
		url("../fonts/raleway-medium/raleway-medium.otf") format("opentype"),
		url("../fonts/raleway-medium/raleway-medium.svg") format("svg"),
		url("../fonts/raleway-medium/raleway-medium.ttf") format("truetype"),
		url("../fonts/raleway-medium/raleway-medium.woff") format("woff"),
		url("../fonts/raleway-medium/raleway-medium.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Raleway";
	src: url("../fonts/raleway-bold/raleway-bold.eot");
	src: url("../fonts/raleway-bold/raleway-bold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/raleway-bold/raleway-bold.otf") format("opentype"),
		url("../fonts/raleway-bold/raleway-bold.svg") format("svg"),
		url("../fonts/raleway-bold/raleway-bold.ttf") format("truetype"),
		url("../fonts/raleway-bold/raleway-bold.woff") format("woff"),
		url("../fonts/raleway-bold/raleway-bold.woff2") format("woff2");
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: "OpenSans";
	src: url("../fonts/open-sans-light/open-sans-light.eot");
	src: url("../fonts/open-sans-light/open-sans-light.eot?#iefix") format("embedded-opentype"),
		url("../fonts/open-sans-light/open-sans-light.otf") format("opentype"),
		url("../fonts/open-sans-light/open-sans-light.svg") format("svg"),
		url("../fonts/open-sans-light/open-sans-light.ttf") format("truetype"),
		url("../fonts/open-sans-light/open-sans-light.woff") format("woff"),
		url("../fonts/open-sans-light/open-sans-light.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "OpenSans";
	src: url("../fonts/open-sans-semi-bold/open-sans-semi-bold.eot");
	src: url("../fonts/open-sans-semi-bold/open-sans-semi-bold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/open-sans-semi-bold/open-sans-semi-bold.otf") format("opentype"),
		url("../fonts/open-sans-semi-bold/open-sans-semi-bold.svg") format("svg"),
		url("../fonts/open-sans-semi-bold/open-sans-semi-bold.ttf") format("truetype"),
		url("../fonts/open-sans-semi-bold/open-sans-semi-bold.woff") format("woff"),
		url("../fonts/open-sans-semi-bold/open-sans-semi-bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Montserrat";
	src: url("../fonts/montserrat-regular/montserrat-regular.eot");
	src: url("../fonts/montserrat-regular/montserrat-regular.eot?#iefix") format("embedded-opentype"),
		url("../fonts/montserrat-regular/montserrat-regular.otf") format("opentype"),
		url("../fonts/montserrat-regular/montserrat-regular.svg") format("svg"),
		url("../fonts/montserrat-regular/montserrat-regular.ttf") format("truetype"),
		url("../fonts/montserrat-regular/montserrat-regular.woff") format("woff"),
		url("../fonts/montserrat-regular/montserrat-regular.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Montserrat";
	src: url("../fonts/montserrat-semi-bold/montserrat-semi-bold.eot");
	src: url("../fonts/montserrat-semi-bold/montserrat-semi-bold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/montserrat-semi-bold/montserrat-semi-bold.otf") format("opentype"),
		url("../fonts/montserrat-semi-bold/montserrat-semi-bold.svg") format("svg"),
		url("../fonts/montserrat-semi-bold/montserrat-semi-bold.ttf") format("truetype"),
		url("../fonts/montserrat-semi-bold/montserrat-semi-bold.woff") format("woff"),
		url("../fonts/montserrat-semi-bold/montserrat-semi-bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Montserrat";
	src: url("../fonts/montserrat-bold/montserrat-bold.eot");
	src: url("../fonts/montserrat-bold/montserrat-bold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/montserrat-bold/montserrat-bold.otf") format("opentype"),
		url("../fonts/montserrat-bold/montserrat-bold.svg") format("svg"),
		url("../fonts/montserrat-bold/montserrat-bold.ttf") format("truetype"),
		url("../fonts/montserrat-bold/montserrat-bold.woff") format("woff"),
		url("../fonts/montserrat-bold/montserrat-bold.woff2") format("woff2");
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: "Montserrat";
	src: url("../fonts/montserrat-extra-bold/montserrat-extra-bold.eot");
	src: url("../fonts/montserrat-extra-bold/montserrat-extra-bold.eot?#iefix") format("embedded-opentype"),
		url("../fonts/montserrat-extra-bold/montserrat-extra-bold.otf") format("opentype"),
		url("../fonts/montserrat-extra-bold/montserrat-extra-bold.svg") format("svg"),
		url("../fonts/montserrat-extra-bold/montserrat-extra-bold.ttf") format("truetype"),
		url("../fonts/montserrat-extra-bold/montserrat-extra-bold.woff") format("woff"),
		url("../fonts/montserrat-extra-bold/montserrat-extra-bold.woff2") format("woff2");
	font-weight: 900;
	font-style: normal;
}
