// COLORS BASE
$blue: #065DA8;
$gree: #008000;
$red: #CE0E13;
$orange: #FF6E0B;
$pink: #ffc0cb;
$gray: #26486A;
$white: #FFFFFF;
$black: #000000;
$gray: #666666;

// FONT BASE
$base-font-family: "Raleway";
$base-font-size: 1.2rem;
